<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    <form method="post" action="/personnels">
        <lable>کد پرسنلی</lable>
        <input type="text" name="personnel_id">
        <lable>نام</lable>
        <input type="text" name="name">
        <lable>نام خانوادگی</lable>
        <input type="text" name="family">
        <lable>نام واحد</lable>
        <input type="text" name="district">
        <lable>نام کاربری</lable>
        <input type="text" name="username">
        <lable>کلمه عبور</lable>
        <input type="text" name="password">

        <input type="submit" value="ثبت">
    </form>

</body>
</html>