body, html {
  height: 100%;
  width: 100%; }

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box; }

li {
  list-style: none; }

a, a:hover, a:focus {
  text-decoration: none; }

h1, .h1, h2, .h2, h3, .h3, h4, .h4, p, ul {
  margin: 0; }

lodaer {
  z-index: 1000000;
  display: block;
  position: fixed;
  height: 100%;
  width: 100%;
  background: rgba(255, 255, 255, 0.7);
  cursor: wait; }

@font-face {
  font-family: "BYekan";
  src: url("fonts/BYekan.eot");
  /* IE9 Compat Modes */
  src: url("fonts/BYekan.eot?#iefix") format("embedded-opentype"), url("fonts/BYekan.woff") format("woff"), url("fonts/BYekan.ttf") format("truetype"), url("fonts/BYekan.svg#BYekan") format("svg");
  /* Legacy iOS */ }
@font-face {
  font-family: "BNazanin";
  src: url("fonts/BNazanin.eot");
  /* IE9 Compat Modes */
  src: url("fonts/BNazanin.eot?#iefix") format("embedded-opentype"), url("fonts/BNazanin.woff") format("woff"), url("fonts/BNazanin.ttf") format("truetype"), url("fonts/BNazanin.svg#BNazanin") format("svg");
  /* Legacy iOS */ }
body {
  background: #f7f7f7; }
  body > header {
    background: #2587b8;
    color: #ffffff;
    height: 80px;
    border-bottom: #0978af solid thin; }
    body > header .container .brand {
      float: right;
      color: #ffffff;
      font-family: BYekan;
      font-size: 20px;
      border: solid thin #eeeeee;
      border-radius: 10px;
      padding: 10px;
      margin-top: 15px; }
    body > header .container .user {
      float: left;
      position: relative; }
      body > header .container .user > a.image {
        background: #ffffff;
        display: block;
        height: 35px;
        width: 35px;
        margin-top: 20px;
        padding: 2px;
        cursor: pointer; }
        body > header .container .user > a.image span {
          height: 31px;
          width: 31px;
          display: block;
          background: #CCCCCC; }
      body > header .container .user > ul {
        display: none; }
      body > header .container .user:hover > ul {
        display: block;
        position: absolute;
        top: 100%;
        left: 0;
        background: #ffffff;
        border: solid thin #eeeeee; }
        body > header .container .user:hover > ul li:not(:last-child) {
          border-bottom: solid thin #eeeeee; }
        body > header .container .user:hover > ul li a {
          white-space: nowrap;
          text-align: center;
          display: block;
          width: 100px;
          line-height: 2;
          cursor: pointer;
          font-family: BNazanin;
          font-size: 16px; }
  body > nav {
    display: block;
    background: #ffffff;
    font-family: BNazanin;
    font-size: 16px;
    border-style: solid;
    border-width: thin;
    border-top-color: #83bad7;
    border-bottom-color: #e6e6e6;
    border-left: 0;
    border-right: 0; }
    body > nav .container ul {
      clear: both;
      direction: rtl;
      height: 50px; }
      body > nav .container ul li {
        float: right;
        margin-left: 20px; }
        body > nav .container ul li a {
          white-space: nowrap;
          line-height: 50px;
          display: block;
          height: 50px;
          border-bottom: solid 2px #ffffff;
          color: #64748c;
          text-overflow: ellipsis; }
          body > nav .container ul li a:hover, body > nav .container ul li a.active {
            color: #ef411b;
            border-bottom-color: #ef411b; }

body > section {
  margin-top: 40px;
  margin-bottom: 40px; }
  body > section > .container > div {
    background: #ffffff;
    border: solid thin #CCCCCC;
    direction: rtl;
    text-align: right; }
    body > section > .container > div header {
      background: #245269;
      color: #ffffff;
      padding: 0 15px;
      line-height: 1.8;
      font-family: BNazanin;
      font-size: 23px; }
    body > section > .container > div section {
      padding: 20px; }

form .form-group:last-child {
  margin-bottom: 0; }

table thead {
  background: #EEEEEE; }
  table thead th {
    text-align: right; }
    table thead th.sortable {
      cursor: pointer; }
      table thead th.sortable i {
        float: left; }

.pagination {
  float: none;
  margin: 0 auto;
  position: relative; }
  .pagination li {
    float: right; }
    .pagination li:first-child a {
      border-left: 0; }
    .pagination li a {
      border-radius: 0 !important; }
