.grid{
}

.grid .grid_col{
    display: inline-block;
    width: 100px;
}

.grid .subSystem{
    width: 120px;
}
.grid .section{
    width: 150px;
}
.grid .severity{
    width: 80px;
}
.grid .date{
    width: 200px;
}
.grid .filename{
    width: 200px;
}

.report_conditions{
    border: solid 1px green;
}