label {
    display:inline-block;
    text-align: right;
    vertical-align:top;
}

a {
    text-decoration:none;
    color:green;
}

.line {
    clear:both;
}

.contentCenter {
    text-align:center;
}

.left, .right {
    width:49%;
    display:inline-block;
    vertical-align:top;
}

input[type=text],input[type=password]{
	/*background-image:url(Images/textbox_bg.jpg);
	background-repeat:repeat-x;*/
	border:1px solid #d1c7ac;
	width: 230px;
	color:#333333;
	padding:3px;
	margin-right:4px;
	margin-bottom:8px;
	font-family:tahoma, arial, sans-serif;
}

.line {
    clear:both;
}


.list {
    list-style:none;
    padding:0px;
}

.zebra li {
    padding:3px 5px;
    line-height:30px;
}

.zebra li:nth-child(odd) {
    background-color:#BAC5F5;
    color:black;
}

.zebra li:nth-child(even) {
    background-color:#92A2EF;
    color:black;
}

.zebra li:first-child {
    background-color:#3453E2;
    color:wheat;
}


.noLabel {
    display:inline-block;
}
    
.noLabel label{
    display:inline;
    vertical-align:top;
}


.msgSuccess {
    background-color:#92F1A0;
    color:#177D36;
    border:solid 1px #004000;
    border-radius:5px;
    padding:5px 10px;
}

.msgFail {
    background-color:#FABCBF;
    color:#ED1B25;
    border:solid 1px #ED1B25;
    border-radius:5px;
    padding:5px 10px;
}

.left, .right {
    width:49%;
    display:inline-block;
    vertical-align:top;
}

.half-column{
    display: inline-block;
    width: 45%;
    vertical-align: top;
}