.mainPage {
}



    

.UsersManager {
}

.UsersManager span{
    display:inline-block;
}

    .UsersManager .UsersListsName {
        width:100px;
    }


    .UsersManager .UsersListsFamily {
        width:100px;
    }

    
    .UsersManager .UsersListsUsername {
        width:100px;
    }

.adminPanel {

}