<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    {% block meta %}{% end %}

    <link rel="stylesheet" href='{{ static_url("libs/bootstrap/css/bootstrap.min.css") }}' type="text/css"/>
    <!--<link rel="stylesheet" href='{{ static_url("libs/bootstrap/css/bootstrap-rtl.min.css") }}' type="text/css"/>-->
    <link rel="stylesheet" href='{{ static_url("libs/icons/css/font-awesome.min.css") }}' type="text/css"/>
    <link rel="stylesheet" href='{{ static_url("date/css/persianDatepicker-default.css") }}' type="text/css"/>
    <link rel="stylesheet" href='{{ static_url("css/main.css") }}' type="text/css"/>
    <script src='{{ static_url("js/source.js") }}' type="text/javascript"></script>
    <script src='{{ static_url("date/js/persianDatepicker.min.js") }}' type="text/javascript"></script>
    {% block link %}{% end %}
</head>
<body>
    <header>
        <div class="container">
            <a class="brand" >
       سیستم گزارش تخلفات
            </a>
            <div class="user">
                <a class="image" >
                    <span></span>
                </a>
                <ul>
                    <li>
                        <a>
                            تغییر گذرواژه
                        </a>
                    </li>
                    <li>
                        <a>
                            خروج کاربر
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </header>
    <nav>
        <div class="container">
            <ul>
            <li><a class="active" href="/" >صفحه اصلی</a></li>
            <li><a href="/violation" >تخلفات کارگزاران</a></li>
            <li><a href="/int_violation" >تخلفات شرکتهای بین المللی</a></li>
            <li><a href="/violation_search" >گزارشات</a></li>
            <li><a href="/login" >ورود به سایت</a></li>
            <!--<li><a href="" >مدیریت کاربران</a></li>-->
            <!--<li><a href="/edit_requests" >درخواستهای ویرایش</a></li>-->
        </ul>
        </div>
    </nav>
    <section>
        <div class="container">
            {% block body %}{% end %}
        </div>
    </section>


{% block script %}{% end %}
</body>
</html>