{% extends "main_template.html" %}

{% block contents %}

<script type="text/javascript">
    $(document).ready(function(){
        $('#myTab a').click(function (e) {
          e.preventDefault()
          $(this).tab('show')
        })
    })
</script>

<ul class="nav nav-tabs" id="myTab">
  <li class="active"><a href="#home">Home</a></li>
  <li><a href="#profile">Profile</a></li>
  <li><a href="#messages">Messages</a></li>
  <li><a href="#settings">Settings</a></li>
</ul>
<form action="" class="form-group dropzone" id="form_IntViolation">
    <div class="tab-content">
      <div class="tab-pane active" id="home">
        <div class="half-column">
            <label>شماره کوتاژ<br><input type="text" id="IntViolation_kootaj" name="kootaj" class="form-control"></label><br>
        </div>
        <div class="half-column">
            <label>شماره پروانه گمرکی<br><input type="text" id="IntViolation_cert_no" name="cert_no" class="form-control"></label><br>
        </div>
        <div class="half-column">
            <label>تاریخ<br><input type="text" id="IntViolation_s_date" name="s_date" class="form-control"></label><br>
        </div>
        <div class="half-column">
            <label>تاریخ میلادی<br><input type="text" id="IntViolation_m_date" name="m_date" class="form-control"></label><br>
        </div>
        <div class="half-column">
            <label>شماره پروانه بین المللی<br><input type="text" id="IntViolation_int_cert_no" name="int_cert_no" class="form-control"></label><br>
        </div>
        <div class="half-column">
            <label>ردیف مرکزی<br><input type="text" id="IntViolation_radif_marzi" name="radif_marzi" class="form-control"></label><br>
        </div>
        <div class="half-column">
            <label>تاریخ ورود<br><input type="text" id="IntViolation_s_entry_date" name="s_entry_date" class="form-control"></label><br>
        </div>
        <div class="half-column">
            <label>تاریخ ورود میلادی<br><input type="text" id="IntViolation_m_entry_date" name="m_entry_date" class="form-control"></label><br>
        </div>
        <div class="half-column">
            <label>شماره کارنه تیر<br><input type="text" id="IntViolation_karne_tir_no" name="karne_tir_no" class="form-control"></label><br>
        </div>
        <div class="half-column">
            <label><input type="checkbox" id="IntViolation_ezhar_1" name="ezhar_1">ترانزیت داخلی</label><br>
            <label><input type="checkbox" id="IntViolation_ezhar_2" name="ezhar_2">ترانزیت خارجی</label><br>
            <label><input type="checkbox" id="IntViolation_ezhar_3" name="ezhar_3">کارنه تیر</label><br>
            <label><input type="checkbox" id="IntViolation_ezhar_4" name="ezhar_4">سایر</label><br>
        </div>

        <label><input type="checkbox" id="IntViolation_person_type" name="person_type">person_type</label><br>
      </div>
      <div class="tab-pane" id="profile">
        <div class="half-column">
            <label>نام و نام خانوادگی<br><input type="text" id="IntViolation_full_name" name="full_name" class="form-control"></label><br>
        </div>
        <div class="half-column">
            <label>شماره کارت<br><input type="text" id="IntViolation_card_no" name="card_no" class="form-control"></label><br>
        </div>
        <div class="half-column">
            <label>شماره ملی<br><input type="text" id="IntViolation_code_no" name="code_no" class="form-control"></label><br>
        </div>
        <div class="half-column">
            <label>آدرس مقصد<br><input type="text" id="IntViolation_dest_address" name="dest_address" class="form-control"></label><br>
        </div>
        <div class="half-column">
            <label>نام کالا<br><input type="text" id="IntViolation_good_bame" name="good_bame" class="form-control"></label><br>
        </div>
        <div class="half-column">
            <label>وزن خالص<br><input type="text" id="IntViolation_net_weight" name="net_weight" class="form-control"></label><br>
        </div>
        <div class="half-column">
            <label>وزن<br><input type="text" id="IntViolation_weight" name="weight" class="form-control"></label><br>
        </div>
        <div class="half-column">
            <label>تعرفه ورودی<br><input type="text" id="IntViolation_input_tariff" name="input_tariff" class="form-control"></label><br>
        </div>
        <div class="half-column">
            <label>تعادا کالا<br><input type="text" id="IntViolation_good_count" name="good_count" class="form-control"></label><br>
        </div>
        <div class="half-column">
            <label>مبلغ<br><input type="text" id="IntViolation_price" name="price" class="form-control"></label><br>
        </div>
        <div class="half-column">
            <label>شماره کامیون<br><input type="text" id="IntViolation_truck_no" name="truck_no" class="form-control"></label><br>
        </div>
        <div class="half-column">
            <label>نام راننده<br><input type="text" id="IntViolation_driver_name" name="driver_name" class="form-control"></label><br>
        </div>
        <div class="half-column">
            <label>شماره شاسی<br><input type="text" id="IntViolation_chasis_no" name="chasis_no" class="form-control"></label><br>
        </div>
        <div class="half-column">
            <label>شماره کشنده<br><input type="text" id="IntViolation_trailer_no" name="trailer_no" class="form-control"></label><br>
        </div>
        <div class="half-column">
            <label>آدرس کامیون<br><input type="text" id="IntViolation_truck_address" name="truck_address" class="form-control"></label><br>
        </div>
          <div class="half-column">
              <label>نوع کامیون<br><input type="text" id="IntViolation_truck_type" name="truck_type" class="form-control"></label><br>
          </div>
        <div class="half-column">
            <label><input type="checkbox" id="IntViolation_tranian_truck" name="tranian_truck">ملیت کامیون</label><br>
        </div>
      </div>
        <div class="tab-pane" id="messages">
            <div class="half-column">
                <label><input type="checkbox" id="IntViolation_vi_type_1" name="vi_type_1">تخلیه بار در اماکن گمرکی و غیر گمرکی بدون اطلاع</label><br>
            </div>
            <div class="half-column">
                <label><input type="checkbox" id="IntViolation_vi_type_2" name="vi_type_2">اظهار خلاف</label><br>
            </div>
            <div class="half-column">
                <label><input type="checkbox" id="IntViolation_vi_type_3" name="vi_type_3">کسر و اضافه</label><br>
            </div>
            <div class="half-column">
                <label><input type="checkbox" id="IntViolation_vi_type_4" name="vi_type_4">تاخیر در تحویل کالا به گمرک</label><br>
            </div>
            <div class="half-column">
                <label><input type="checkbox" id="IntViolation_vi_type_5" name="vi_type_5">قاچاق</label><br>
            </div>
            <div class="half-column">
                <label><input type="checkbox" id="IntViolation_vi_type_6" name="vi_type_6">جعل یا استفاده از اسناد مجعول</label><br>
            </div>
            <div class="half-column">
                <label><input type="checkbox" id="IntViolation_vi_type_7" name="vi_type_7">فک پلمپ</label><br>
            </div>
            <div class="half-column">
                <label>کاشف<br><input type="text" id="IntViolation_detector" name="detector" class="form-control"></label><br>
            </div>
            <div class="half-column">
                <label>سایر<br><input type="text" id="IntViolation_detector_other" name="detector_other" class="form-control"></label><br>
            </div>
            <div class="half-column">
                <label>شماره رسید پرداخت جریمه<br><input type="text" id="IntViolation_fine_receipt_no" name="fine_receipt_no" class="form-control"></label><br>
            </div>
            <div class="half-column">
                <label>مبلغ جریمه<br><input type="text" id="IntViolation_fine_price" name="fine_price" class="form-control"></label><br>
            </div>
            <div class="half-column">
                <label>نتیجه نهایی<br><input type="text" id="IntViolation_final_result" name="final_result" class="form-control"></label><br>
            </div>
            <div class="half-column">
                <label>شرح<br><input type="text" id="IntViolation_details" name="details" class="form-control"></label><br>
            </div>
            <div class="half-column">
                <label>تاریخ ثبت میلادی<br><input type="text" id="IntViolation_m_rec_date" name="m_rec_date" class="form-control"></label><br>
            </div>
            <div class="half-column">
                <label>تاریخ ثبت شمسی<br><input type="text" id="IntViolation_s_rec_date" name="s_rec_date" class="form-control"></label><br>
            </div>
            <div class="half-column">
                <label><input type="checkbox" id="IntViolation_locked" name="locked">قفل شده</label><br>
            </div>

        <input type="hidden" name="id" id="IntViolation_id" class="form-control" value="">
        <input type="hidden" name="action" id="form_action" class="form-control" value="add">
        <a href="#" onclick="submit_IntViolation()" class="btn btn-success">Submit</a>
        <a href="#" onclick="reset_IntViolation()" class="btn btn-info">Reset</a>
      </div>
      <div class="tab-pane" id="settings">

      </div>
    </div>
</form>


<div>
<div class="col-md-8 col-md-offset-2">
    <!--<table class="table" id="table_IntViolation">-->
        <!--<thead>-->
            <!--<tr>-->
                <!--<th>Row</th>-->
            <!--<th>kootaj</th>-->
            <!--<th>cert_no</th>-->
            <!--<th>s_date</th>-->
            <!--<th>m_date</th>-->
            <!--<th>int_cert_no</th>-->
            <!--<th>radif_marzi</th>-->
            <!--<th>s_entry_date</th>-->
            <!--<th>m_entry_date</th>-->
            <!--<th>karne_tir_no</th>-->
            <!--<th>ezhar_1</th>-->
            <!--<th>ezhar_2</th>-->
            <!--<th>ezhar_3</th>-->
            <!--<th>ezhar_4</th>-->
            <!--<th>person_type</th>-->
            <!--<th>full_name</th>-->
            <!--<th>card_no</th>-->
            <!--<th>code_no</th>-->
            <!--<th>dest_address</th>-->
            <!--<th>good_bame</th>-->
            <!--<th>net_weight</th>-->
            <!--<th>weight</th>-->
            <!--<th>input_tariff</th>-->
            <!--<th>good_count</th>-->
            <!--<th>price</th>-->
            <!--<th>truck_no</th>-->
            <!--<th>driver_name</th>-->
            <!--<th>chasis_no</th>-->
            <!--<th>trailer_no</th>-->
            <!--<th>tranian_truck</th>-->
            <!--<th>truck_address</th>-->
            <!--<th>truck_type</th>-->
            <!--<th>vi_type_1</th>-->
            <!--<th>vi_type_2</th>-->
            <!--<th>vi_type_3</th>-->
            <!--<th>vi_type_4</th>-->
            <!--<th>vi_type_5</th>-->
            <!--<th>vi_type_6</th>-->
            <!--<th>vi_type_7</th>-->
            <!--<th>detector</th>-->
            <!--<th>detector_other</th>-->
            <!--<th>fine_receipt_no</th>-->
            <!--<th>fine_price</th>-->
            <!--<th>final_result</th>-->
            <!--<th>details</th>-->
            <!--<th>m_rec_date</th>-->
            <!--<th>s_rec_date</th>-->
            <!--<th>locked</th>-->

            <!--</tr>-->
        <!--</thead>-->
        <!--<tbody>-->
        <!--{% set row = 1 %}-->
        <!--{% for item in IntViolation %}-->
            <!--<tr id="IntViolation_{{ item['_id'] }}">-->
            <!--<td>{{ row }}</td>-->
            <!--<td id="IntViolation_kootaj_{{ item['_id'] }}">{{ item['kootaj'] }}</td>-->
            <!--<td id="IntViolation_cert_no_{{ item['_id'] }}">{{ item['cert_no'] }}</td>-->
            <!--<td id="IntViolation_s_date_{{ item['_id'] }}">{{ item['s_date'] }}</td>-->
            <!--<td id="IntViolation_m_date_{{ item['_id'] }}">{{ item['m_date'] }}</td>-->
            <!--<td id="IntViolation_int_cert_no_{{ item['_id'] }}">{{ item['int_cert_no'] }}</td>-->
            <!--<td id="IntViolation_radif_marzi_{{ item['_id'] }}">{{ item['radif_marzi'] }}</td>-->
            <!--<td id="IntViolation_s_entry_date_{{ item['_id'] }}">{{ item['s_entry_date'] }}</td>-->
            <!--<td id="IntViolation_m_entry_date_{{ item['_id'] }}">{{ item['m_entry_date'] }}</td>-->
            <!--<td id="IntViolation_karne_tir_no_{{ item['_id'] }}">{{ item['karne_tir_no'] }}</td>-->
            <!--<td id="IntViolation_ezhar_1_{{ item['_id'] }}">{{ item['ezhar_1'] }}</td>-->
            <!--<td id="IntViolation_ezhar_2_{{ item['_id'] }}">{{ item['ezhar_2'] }}</td>-->
            <!--<td id="IntViolation_ezhar_3_{{ item['_id'] }}">{{ item['ezhar_3'] }}</td>-->
            <!--<td id="IntViolation_ezhar_4_{{ item['_id'] }}">{{ item['ezhar_4'] }}</td>-->
            <!--<td id="IntViolation_person_type_{{ item['_id'] }}">{{ item['person_type'] }}</td>-->
            <!--<td id="IntViolation_full_name_{{ item['_id'] }}">{{ item['full_name'] }}</td>-->
            <!--<td id="IntViolation_card_no_{{ item['_id'] }}">{{ item['card_no'] }}</td>-->
            <!--<td id="IntViolation_code_no_{{ item['_id'] }}">{{ item['code_no'] }}</td>-->
            <!--<td id="IntViolation_dest_address_{{ item['_id'] }}">{{ item['dest_address'] }}</td>-->
            <!--<td id="IntViolation_good_bame_{{ item['_id'] }}">{{ item['good_bame'] }}</td>-->
            <!--<td id="IntViolation_net_weight_{{ item['_id'] }}">{{ item['net_weight'] }}</td>-->
            <!--<td id="IntViolation_weight_{{ item['_id'] }}">{{ item['weight'] }}</td>-->
            <!--<td id="IntViolation_input_tariff_{{ item['_id'] }}">{{ item['input_tariff'] }}</td>-->
            <!--<td id="IntViolation_good_count_{{ item['_id'] }}">{{ item['good_count'] }}</td>-->
            <!--<td id="IntViolation_price_{{ item['_id'] }}">{{ item['price'] }}</td>-->
            <!--<td id="IntViolation_truck_no_{{ item['_id'] }}">{{ item['truck_no'] }}</td>-->
            <!--<td id="IntViolation_driver_name_{{ item['_id'] }}">{{ item['driver_name'] }}</td>-->
            <!--<td id="IntViolation_chasis_no_{{ item['_id'] }}">{{ item['chasis_no'] }}</td>-->
            <!--<td id="IntViolation_trailer_no_{{ item['_id'] }}">{{ item['trailer_no'] }}</td>-->
            <!--<td id="IntViolation_tranian_truck_{{ item['_id'] }}">{{ item['tranian_truck'] }}</td>-->
            <!--<td id="IntViolation_truck_address_{{ item['_id'] }}">{{ item['truck_address'] }}</td>-->
            <!--<td id="IntViolation_truck_type_{{ item['_id'] }}">{{ item['truck_type'] }}</td>-->
            <!--<td id="IntViolation_vi_type_1_{{ item['_id'] }}">{{ item['vi_type_1'] }}</td>-->
            <!--<td id="IntViolation_vi_type_2_{{ item['_id'] }}">{{ item['vi_type_2'] }}</td>-->
            <!--<td id="IntViolation_vi_type_3_{{ item['_id'] }}">{{ item['vi_type_3'] }}</td>-->
            <!--<td id="IntViolation_vi_type_4_{{ item['_id'] }}">{{ item['vi_type_4'] }}</td>-->
            <!--<td id="IntViolation_vi_type_5_{{ item['_id'] }}">{{ item['vi_type_5'] }}</td>-->
            <!--<td id="IntViolation_vi_type_6_{{ item['_id'] }}">{{ item['vi_type_6'] }}</td>-->
            <!--<td id="IntViolation_vi_type_7_{{ item['_id'] }}">{{ item['vi_type_7'] }}</td>-->
            <!--<td id="IntViolation_detector_{{ item['_id'] }}">{{ item['detector'] }}</td>-->
            <!--<td id="IntViolation_detector_other_{{ item['_id'] }}">{{ item['detector_other'] }}</td>-->
            <!--<td id="IntViolation_fine_receipt_no_{{ item['_id'] }}">{{ item['fine_receipt_no'] }}</td>-->
            <!--<td id="IntViolation_fine_price_{{ item['_id'] }}">{{ item['fine_price'] }}</td>-->
            <!--<td id="IntViolation_final_result_{{ item['_id'] }}">{{ item['final_result'] }}</td>-->
            <!--<td id="IntViolation_details_{{ item['_id'] }}">{{ item['details'] }}</td>-->
            <!--<td id="IntViolation_m_rec_date_{{ item['_id'] }}">{{ item['m_rec_date'] }}</td>-->
            <!--<td id="IntViolation_s_rec_date_{{ item['_id'] }}">{{ item['s_rec_date'] }}</td>-->
            <!--<td id="IntViolation_locked_{{ item['_id'] }}">{{ item['locked'] }}</td>-->

            <!--<td>-->
                <!--<a href="#" onclick="edit_IntViolation('{{ item['_id'] }}')" class="btn btn-warning">Edit</a>-->
                <!--<a href="#" onclick="remove_IntViolation('{{ item['_id'] }}')" class="btn btn-danger">Remove</a>-->
            <!--</td>-->
            <!--</tr>-->
        <!--{% set row += 1 %}-->
        <!--{% end %}-->
        <!--</tbody>-->
    <!--</table>-->
</div>
</div>
{% end %}
