
<!DOCTYPE html>
<html>
<head><title>Settings</title>
<link href='{{ static_url("css/bootstrap.css") }}' rel="stylesheet">
<link href='{{ static_url("css/bootstrap-theme.css") }}' rel="stylesheet">
<link href='{{ static_url("css/dropzone.css") }}' rel="stylesheet">

</head>
<body>
<div>
    <div class="col-md-8 col-md-offset-2">
        <form action="" class="form-group dropzone" id="form_IntViolation">
            <p>kootaj<br><input type="text" id="IntViolation_kootaj" name="kootaj" class="form-control"></p>
            <p>cert_no<br><input type="text" id="IntViolation_cert_no" name="cert_no" class="form-control"></p>
            <p>s_date<br><input type="text" id="IntViolation_s_date" name="s_date" class="form-control"></p>
            <p>m_date<br><input type="text" id="IntViolation_m_date" name="m_date" class="form-control"></p>
            <p>int_cert_no<br><input type="text" id="IntViolation_int_cert_no" name="int_cert_no" class="form-control"></p>
            <p>radif_marzi<br><input type="text" id="IntViolation_radif_marzi" name="radif_marzi" class="form-control"></p>
            <p>s_entry_date<br><input type="text" id="IntViolation_s_entry_date" name="s_entry_date" class="form-control"></p>
            <p>m_entry_date<br><input type="text" id="IntViolation_m_entry_date" name="m_entry_date" class="form-control"></p>
            <p>karne_tir_no<br><input type="text" id="IntViolation_karne_tir_no" name="karne_tir_no" class="form-control"></p>
            <p>ezhar_1<br><input type="text" id="IntViolation_ezhar_1" name="ezhar_1" class="form-control"></p>
            <p>ezhar_2<br><input type="text" id="IntViolation_ezhar_2" name="ezhar_2" class="form-control"></p>
            <p>ezhar_3<br><input type="text" id="IntViolation_ezhar_3" name="ezhar_3" class="form-control"></p>
            <p>ezhar_4<br><input type="text" id="IntViolation_ezhar_4" name="ezhar_4" class="form-control"></p>
            <p>person_type<br><input type="text" id="IntViolation_person_type" name="person_type" class="form-control"></p>
            <p>full_name<br><input type="text" id="IntViolation_full_name" name="full_name" class="form-control"></p>
            <p>card_no<br><input type="text" id="IntViolation_card_no" name="card_no" class="form-control"></p>
            <p>code_no<br><input type="text" id="IntViolation_code_no" name="code_no" class="form-control"></p>
            <p>dest_address<br><input type="text" id="IntViolation_dest_address" name="dest_address" class="form-control"></p>
            <p>good_bame<br><input type="text" id="IntViolation_good_bame" name="good_bame" class="form-control"></p>
            <p>net_weight<br><input type="text" id="IntViolation_net_weight" name="net_weight" class="form-control"></p>
            <p>weight<br><input type="text" id="IntViolation_weight" name="weight" class="form-control"></p>
            <p>input_tariff<br><input type="text" id="IntViolation_input_tariff" name="input_tariff" class="form-control"></p>
            <p>good_count<br><input type="text" id="IntViolation_good_count" name="good_count" class="form-control"></p>
            <p>price<br><input type="text" id="IntViolation_price" name="price" class="form-control"></p>
            <p>truck_no<br><input type="text" id="IntViolation_truck_no" name="truck_no" class="form-control"></p>
            <p>driver_name<br><input type="text" id="IntViolation_driver_name" name="driver_name" class="form-control"></p>
            <p>chasis_no<br><input type="text" id="IntViolation_chasis_no" name="chasis_no" class="form-control"></p>
            <p>trailer_no<br><input type="text" id="IntViolation_trailer_no" name="trailer_no" class="form-control"></p>
            <p>tranian_truck<br><input type="text" id="IntViolation_tranian_truck" name="tranian_truck" class="form-control"></p>
            <p>truck_address<br><input type="text" id="IntViolation_truck_address" name="truck_address" class="form-control"></p>
            <p>truck_type<br><input type="text" id="IntViolation_truck_type" name="truck_type" class="form-control"></p>
            <p>vi_type_1<br><input type="text" id="IntViolation_vi_type_1" name="vi_type_1" class="form-control"></p>
            <p>vi_type_2<br><input type="text" id="IntViolation_vi_type_2" name="vi_type_2" class="form-control"></p>
            <p>vi_type_3<br><input type="text" id="IntViolation_vi_type_3" name="vi_type_3" class="form-control"></p>
            <p>vi_type_4<br><input type="text" id="IntViolation_vi_type_4" name="vi_type_4" class="form-control"></p>
            <p>vi_type_5<br><input type="text" id="IntViolation_vi_type_5" name="vi_type_5" class="form-control"></p>
            <p>vi_type_6<br><input type="text" id="IntViolation_vi_type_6" name="vi_type_6" class="form-control"></p>
            <p>vi_type_7<br><input type="text" id="IntViolation_vi_type_7" name="vi_type_7" class="form-control"></p>
            <p>detector<br><input type="text" id="IntViolation_detector" name="detector" class="form-control"></p>
            <p>detector_other<br><input type="text" id="IntViolation_detector_other" name="detector_other" class="form-control"></p>
            <p>fine_receipt_no<br><input type="text" id="IntViolation_fine_receipt_no" name="fine_receipt_no" class="form-control"></p>
            <p>fine_price<br><input type="text" id="IntViolation_fine_price" name="fine_price" class="form-control"></p>
            <p>final_result<br><input type="text" id="IntViolation_final_result" name="final_result" class="form-control"></p>
            <p>details<br><input type="text" id="IntViolation_details" name="details" class="form-control"></p>
            <p>m_rec_date<br><input type="text" id="IntViolation_m_rec_date" name="m_rec_date" class="form-control"></p>
            <p>s_rec_date<br><input type="text" id="IntViolation_s_rec_date" name="s_rec_date" class="form-control"></p>
            <p>locked<br><input type="text" id="IntViolation_locked" name="locked" class="form-control"></p>

            <input type="hidden" name="id" id="IntViolation_id" class="form-control" value="">
            <input type="hidden" name="action" id="form_action" class="form-control" value="add">
            <a href="#" onclick="submit_IntViolation()" class="btn btn-success">Submit</a>
            <a href="#" onclick="reset_IntViolation()" class="btn btn-info">Reset</a>
        </form>
    </div>
</div>
<div>
<div class="col-md-8 col-md-offset-2">
    <table class="table" id="table_IntViolation">
        <thead>
            <tr>
                <th>Row</th>
            <th>kootaj</th>
            <th>cert_no</th>
            <th>s_date</th>
            <th>m_date</th>
            <th>int_cert_no</th>
            <th>radif_marzi</th>
            <th>s_entry_date</th>
            <th>m_entry_date</th>
            <th>karne_tir_no</th>
            <th>ezhar_1</th>
            <th>ezhar_2</th>
            <th>ezhar_3</th>
            <th>ezhar_4</th>
            <th>person_type</th>
            <th>full_name</th>
            <th>card_no</th>
            <th>code_no</th>
            <th>dest_address</th>
            <th>good_bame</th>
            <th>net_weight</th>
            <th>weight</th>
            <th>input_tariff</th>
            <th>good_count</th>
            <th>price</th>
            <th>truck_no</th>
            <th>driver_name</th>
            <th>chasis_no</th>
            <th>trailer_no</th>
            <th>tranian_truck</th>
            <th>truck_address</th>
            <th>truck_type</th>
            <th>vi_type_1</th>
            <th>vi_type_2</th>
            <th>vi_type_3</th>
            <th>vi_type_4</th>
            <th>vi_type_5</th>
            <th>vi_type_6</th>
            <th>vi_type_7</th>
            <th>detector</th>
            <th>detector_other</th>
            <th>fine_receipt_no</th>
            <th>fine_price</th>
            <th>final_result</th>
            <th>details</th>
            <th>m_rec_date</th>
            <th>s_rec_date</th>
            <th>locked</th>

            </tr>
        </thead>
        <tbody>
        {% set row = 1 %}
        {% for item in IntViolation %}
            <tr id="IntViolation_{{ item['_id'] }}">
                <td>{{ row }}</td>
            <td id="IntViolation_kootaj_{{ item['_id'] }}">{{ item['kootaj'] }}</td>
            <td id="IntViolation_cert_no_{{ item['_id'] }}">{{ item['cert_no'] }}</td>
            <td id="IntViolation_s_date_{{ item['_id'] }}">{{ item['s_date'] }}</td>
            <td id="IntViolation_m_date_{{ item['_id'] }}">{{ item['m_date'] }}</td>
            <td id="IntViolation_int_cert_no_{{ item['_id'] }}">{{ item['int_cert_no'] }}</td>
            <td id="IntViolation_radif_marzi_{{ item['_id'] }}">{{ item['radif_marzi'] }}</td>
            <td id="IntViolation_s_entry_date_{{ item['_id'] }}">{{ item['s_entry_date'] }}</td>
            <td id="IntViolation_m_entry_date_{{ item['_id'] }}">{{ item['m_entry_date'] }}</td>
            <td id="IntViolation_karne_tir_no_{{ item['_id'] }}">{{ item['karne_tir_no'] }}</td>
            <td id="IntViolation_ezhar_1_{{ item['_id'] }}">{{ item['ezhar_1'] }}</td>
            <td id="IntViolation_ezhar_2_{{ item['_id'] }}">{{ item['ezhar_2'] }}</td>
            <td id="IntViolation_ezhar_3_{{ item['_id'] }}">{{ item['ezhar_3'] }}</td>
            <td id="IntViolation_ezhar_4_{{ item['_id'] }}">{{ item['ezhar_4'] }}</td>
            <td id="IntViolation_person_type_{{ item['_id'] }}">{{ item['person_type'] }}</td>
            <td id="IntViolation_full_name_{{ item['_id'] }}">{{ item['full_name'] }}</td>
            <td id="IntViolation_card_no_{{ item['_id'] }}">{{ item['card_no'] }}</td>
            <td id="IntViolation_code_no_{{ item['_id'] }}">{{ item['code_no'] }}</td>
            <td id="IntViolation_dest_address_{{ item['_id'] }}">{{ item['dest_address'] }}</td>
            <td id="IntViolation_good_bame_{{ item['_id'] }}">{{ item['good_bame'] }}</td>
            <td id="IntViolation_net_weight_{{ item['_id'] }}">{{ item['net_weight'] }}</td>
            <td id="IntViolation_weight_{{ item['_id'] }}">{{ item['weight'] }}</td>
            <td id="IntViolation_input_tariff_{{ item['_id'] }}">{{ item['input_tariff'] }}</td>
            <td id="IntViolation_good_count_{{ item['_id'] }}">{{ item['good_count'] }}</td>
            <td id="IntViolation_price_{{ item['_id'] }}">{{ item['price'] }}</td>
            <td id="IntViolation_truck_no_{{ item['_id'] }}">{{ item['truck_no'] }}</td>
            <td id="IntViolation_driver_name_{{ item['_id'] }}">{{ item['driver_name'] }}</td>
            <td id="IntViolation_chasis_no_{{ item['_id'] }}">{{ item['chasis_no'] }}</td>
            <td id="IntViolation_trailer_no_{{ item['_id'] }}">{{ item['trailer_no'] }}</td>
            <td id="IntViolation_tranian_truck_{{ item['_id'] }}">{{ item['tranian_truck'] }}</td>
            <td id="IntViolation_truck_address_{{ item['_id'] }}">{{ item['truck_address'] }}</td>
            <td id="IntViolation_truck_type_{{ item['_id'] }}">{{ item['truck_type'] }}</td>
            <td id="IntViolation_vi_type_1_{{ item['_id'] }}">{{ item['vi_type_1'] }}</td>
            <td id="IntViolation_vi_type_2_{{ item['_id'] }}">{{ item['vi_type_2'] }}</td>
            <td id="IntViolation_vi_type_3_{{ item['_id'] }}">{{ item['vi_type_3'] }}</td>
            <td id="IntViolation_vi_type_4_{{ item['_id'] }}">{{ item['vi_type_4'] }}</td>
            <td id="IntViolation_vi_type_5_{{ item['_id'] }}">{{ item['vi_type_5'] }}</td>
            <td id="IntViolation_vi_type_6_{{ item['_id'] }}">{{ item['vi_type_6'] }}</td>
            <td id="IntViolation_vi_type_7_{{ item['_id'] }}">{{ item['vi_type_7'] }}</td>
            <td id="IntViolation_detector_{{ item['_id'] }}">{{ item['detector'] }}</td>
            <td id="IntViolation_detector_other_{{ item['_id'] }}">{{ item['detector_other'] }}</td>
            <td id="IntViolation_fine_receipt_no_{{ item['_id'] }}">{{ item['fine_receipt_no'] }}</td>
            <td id="IntViolation_fine_price_{{ item['_id'] }}">{{ item['fine_price'] }}</td>
            <td id="IntViolation_final_result_{{ item['_id'] }}">{{ item['final_result'] }}</td>
            <td id="IntViolation_details_{{ item['_id'] }}">{{ item['details'] }}</td>
            <td id="IntViolation_m_rec_date_{{ item['_id'] }}">{{ item['m_rec_date'] }}</td>
            <td id="IntViolation_s_rec_date_{{ item['_id'] }}">{{ item['s_rec_date'] }}</td>
            <td id="IntViolation_locked_{{ item['_id'] }}">{{ item['locked'] }}</td>

                <td>
                    <a href="#" onclick="edit_IntViolation('{{ item['_id'] }}')" class="btn btn-warning">Edit</a>
                    <a href="#" onclick="remove_IntViolation('{{ item['_id'] }}')" class="btn btn-danger">Remove</a>
                </td>
            </tr>
        {% set row += 1 %}
        {% end %}
        </tbody>
    </table>
</div>
</div>
<script src="{{static_url('js/jquery.js')}}"></script>
<script src="{{static_url('js/dropzone.min.js')}}"></script>
<script src="{{static_url('js/dropzone-amd-module.min.js')}}"></script>
<script src="{{static_url('js/IntViolation.js')}}"></script>
</body>
</html>