<link rel="stylesheet" href='{{ static_url("libs/bootstrap/css/bootstrap.min.css") }}' type="text/css"/>
<link rel="stylesheet" href='{{ static_url("libs/icons/css/font-awesome.min.css") }}' type="text/css"/>
<link rel="stylesheet" href='{{ static_url("css/login.css") }}' type="text/css"/>

<form>
    <h1>سیستم مدیریت تخلفات</h1>
    <div>
        <input type="text" placeholder="نام کاربری" name="" id=""/>
        <input type="password" placeholder="گذرواژه" name="" id=""/>
        <button type="submit" >
            <i class="fa fa-check" ></i>
        </button>
    </div>
    <!--<span class="label label-danger">
        نام کاربری اشتباه است
    </span>-->
</form>