<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <!--<asp:ContentPlaceHolder ID="head" runat="server">-->
    <!--</asp:ContentPlaceHolder>-->
    <link href='{{ static_url("css/bootstrap.css") }}' rel="stylesheet">
    <link href='{{ static_url("css/bootstrap-theme.css") }}' rel="stylesheet">
    <link href='{{ static_url("css/dropzone.css") }}' rel="stylesheet">

    <link href='{{ static_url("css/styles/DatePicker.css") }}' rel="stylesheet">
    <link href='{{ static_url("css/styles/General.css") }}' rel="stylesheet">
    <link href='{{ static_url("css/styles/Template.css") }}' rel="stylesheet">
    <link href='{{ static_url("css/styles/UserControls.css") }}' rel="stylesheet">
    <link href='{{ static_url("css/styles/Web.css") }}' rel="stylesheet">
    <link href='{{ static_url("css/styles/new.css") }}' rel="stylesheet">

    <script src="{{static_url('js/jquery.js')}}"></script>
    <script src="{{static_url('js/dropzone.min.js')}}"></script>
    <script src="{{static_url('js/dropzone-amd-module.min.js')}}"></script>
    <script src="{{static_url('js/IntViolation.js')}}"></script>
    <script src="{{static_url('js/bootstrap-tab.js')}}"></script>

</head>
<body>
    <section class="banner">
        <!--<uc1:LoginPanel ID="LoginPanel1" runat="server" />-->
    </section>

    <section class="menu">
        <a href="">گزارشات</a>
        <a href="">گزارشات بین المللی</a>
        <a href="">گزارش تخلف</a>
        <a href="">گزارش تخلف بین المللی</a>
        <a href="">مدیریت منوها</a>
        <a href="">مدیریت صفحات</a>
        <a href="">مدیریت کاربران</a>
        <a href="">درخواستهای ویرایش</a>
        <a href="">تغییر گذرواژه</a>
    </section>

    <!--<section class="contents">-->
        {% block contents %}

        {% end %}
    <!--</section>-->
</body>
</html>
