
<!DOCTYPE html>
<html>
<head><title>Settings</title>
<link href='{{ static_url("css/bootstrap.css") }}' rel="stylesheet">
<link href='{{ static_url("css/bootstrap-theme.css") }}' rel="stylesheet">
<link href='{{ static_url("css/dropzone.css") }}' rel="stylesheet">

</head>
<body>
<div>
    <div class="col-md-8 col-md-offset-2">
        <form action="" class="form-group dropzone" id="form_Violation">
            <p>s_date<br><input type="text" id="Violation_s_date" name="s_date" class="form-control"></p>
            <p>m_date<br><input type="text" id="Violation_m_date" name="m_date" class="form-control"></p>
            <p>fileNo<br><input type="text" id="Violation_fileNo" name="fileNo" class="form-control"></p>
            <p>kootaj<br><input type="text" id="Violation_kootaj" name="kootaj" class="form-control"></p>
            <p>cert_no<br><input type="text" id="Violation_cert_no" name="cert_no" class="form-control"></p>
            <p>s_date_1<br><input type="text" id="Violation_s_date_1" name="s_date_1" class="form-control"></p>
            <p>s_date_2<br><input type="text" id="Violation_s_date_2" name="s_date_2" class="form-control"></p>
            <p>policy_1<br><input type="text" id="Violation_policy_1" name="policy_1" class="form-control"></p>
            <p>policy_2<br><input type="text" id="Violation_policy_2" name="policy_2" class="form-control"></p>
            <p>policy_3<br><input type="text" id="Violation_policy_3" name="policy_3" class="form-control"></p>
            <p>policy_4<br><input type="text" id="Violation_policy_4" name="policy_4" class="form-control"></p>
            <p>policy_5<br><input type="text" id="Violation_policy_5" name="policy_5" class="form-control"></p>
            <p>policy_6<br><input type="text" id="Violation_policy_6" name="policy_6" class="form-control"></p>
            <p>policy_7<br><input type="text" id="Violation_policy_7" name="policy_7" class="form-control"></p>
            <p>policy_8<br><input type="text" id="Violation_policy_8" name="policy_8" class="form-control"></p>
            <p>ezharname<br><input type="text" id="Violation_ezharname" name="ezharname" class="form-control"></p>
            <p>person_type<br><input type="text" id="Violation_person_type" name="person_type" class="form-control"></p>
            <p>full_name<br><input type="text" id="Violation_full_name" name="full_name" class="form-control"></p>
            <p>card_no<br><input type="text" id="Violation_card_no" name="card_no" class="form-control"></p>
            <p>code_no<br><input type="text" id="Violation_code_no" name="code_no" class="form-control"></p>
            <p>company<br><input type="text" id="Violation_company" name="company" class="form-control"></p>
            <p>ez_full_name<br><input type="text" id="Violation_ez_full_name" name="ez_full_name" class="form-control"></p>
            <p>ez_owner<br><input type="text" id="Violation_ez_owner" name="ez_owner" class="form-control"></p>
            <p>ez_agent<br><input type="text" id="Violation_ez_agent" name="ez_agent" class="form-control"></p>
            <p>ez_card_no<br><input type="text" id="Violation_ez_card_no" name="ez_card_no" class="form-control"></p>
            <p>ez_code_no<br><input type="text" id="Violation_ez_code_no" name="ez_code_no" class="form-control"></p>
            <p>tr_full_name<br><input type="text" id="Violation_tr_full_name" name="tr_full_name" class="form-control"></p>
            <p>tr_code_no<br><input type="text" id="Violation_tr_code_no" name="tr_code_no" class="form-control"></p>
            <p>tr_reg_no<br><input type="text" id="Violation_tr_reg_no" name="tr_reg_no" class="form-control"></p>
            <p>tr_nationality<br><input type="text" id="Violation_tr_nationality" name="tr_nationality" class="form-control"></p>
            <p>tr_manager<br><input type="text" id="Violation_tr_manager" name="tr_manager" class="form-control"></p>
            <p>tr_type<br><input type="text" id="Violation_tr_type" name="tr_type" class="form-control"></p>
            <p>item_name<br><input type="text" id="Violation_item_name" name="item_name" class="form-control"></p>
            <p>tariff_no<br><input type="text" id="Violation_tariff_no" name="tariff_no" class="form-control"></p>
            <p>paid<br><input type="text" id="Violation_paid" name="paid" class="form-control"></p>
            <p>different<br><input type="text" id="Violation_different" name="different" class="form-control"></p>
            <p>fine<br><input type="text" id="Violation_fine" name="fine" class="form-control"></p>
            <p>diff_paid<br><input type="text" id="Violation_diff_paid" name="diff_paid" class="form-control"></p>
            <p>vi_type_1<br><input type="text" id="Violation_vi_type_1" name="vi_type_1" class="form-control"></p>
            <p>vi_type_2<br><input type="text" id="Violation_vi_type_2" name="vi_type_2" class="form-control"></p>
            <p>vi_type_3<br><input type="text" id="Violation_vi_type_3" name="vi_type_3" class="form-control"></p>
            <p>vi_type_4<br><input type="text" id="Violation_vi_type_4" name="vi_type_4" class="form-control"></p>
            <p>vi_type_5<br><input type="text" id="Violation_vi_type_5" name="vi_type_5" class="form-control"></p>
            <p>vi_type_6<br><input type="text" id="Violation_vi_type_6" name="vi_type_6" class="form-control"></p>
            <p>vi_type_7<br><input type="text" id="Violation_vi_type_7" name="vi_type_7" class="form-control"></p>
            <p>vi_type_other<br><input type="text" id="Violation_vi_type_other" name="vi_type_other" class="form-control"></p>
            <p>stated_tariff<br><input type="text" id="Violation_stated_tariff" name="stated_tariff" class="form-control"></p>
            <p>stated_value<br><input type="text" id="Violation_stated_value" name="stated_value" class="form-control"></p>
            <p>stated_weight<br><input type="text" id="Violation_stated_weight" name="stated_weight" class="form-control"></p>
            <p>deducted_tariff<br><input type="text" id="Violation_deducted_tariff" name="deducted_tariff" class="form-control"></p>
            <p>deducted_value<br><input type="text" id="Violation_deducted_value" name="deducted_value" class="form-control"></p>
            <p>deducted_weight<br><input type="text" id="Violation_deducted_weight" name="deducted_weight" class="form-control"></p>
            <p>law<br><input type="text" id="Violation_law" name="law" class="form-control"></p>
            <p>detector<br><input type="text" id="Violation_detector" name="detector" class="form-control"></p>
            <p>detector_other<br><input type="text" id="Violation_detector_other" name="detector_other" class="form-control"></p>
            <p>results<br><input type="text" id="Violation_results" name="results" class="form-control"></p>
            <p>commitment<br><input type="text" id="Violation_commitment" name="commitment" class="form-control"></p>
            <p>receip_no<br><input type="text" id="Violation_receip_no" name="receip_no" class="form-control"></p>
            <p>details<br><input type="text" id="Violation_details" name="details" class="form-control"></p>
            <p>m_rec_date<br><input type="text" id="Violation_m_rec_date" name="m_rec_date" class="form-control"></p>
            <p>s_rec_date<br><input type="text" id="Violation_s_rec_date" name="s_rec_date" class="form-control"></p>
            <p>locked<br><input type="text" id="Violation_locked" name="locked" class="form-control"></p>

            <input type="hidden" name="id" id="Violation_id" class="form-control" value="">
            <input type="hidden" name="action" id="form_action" class="form-control" value="add">
            <a href="#" onclick="submit_Violation()" class="btn btn-success">Submit</a>
            <a href="#" onclick="reset_Violation()" class="btn btn-info">Reset</a>
        </form>
    </div>
</div>
<div>
<div class="col-md-8 col-md-offset-2">
    <table class="table" id="table_Violation">
        <thead>
            <tr>
                <th>Row</th>
            <th>s_date</th>
            <th>m_date</th>
            <th>fileNo</th>
            <th>kootaj</th>
            <th>cert_no</th>
            <th>s_date_1</th>
            <th>s_date_2</th>
            <th>policy_1</th>
            <th>policy_2</th>
            <th>policy_3</th>
            <th>policy_4</th>
            <th>policy_5</th>
            <th>policy_6</th>
            <th>policy_7</th>
            <th>policy_8</th>
            <th>ezharname</th>
            <th>person_type</th>
            <th>full_name</th>
            <th>card_no</th>
            <th>code_no</th>
            <th>company</th>
            <th>ez_full_name</th>
            <th>ez_owner</th>
            <th>ez_agent</th>
            <th>ez_card_no</th>
            <th>ez_code_no</th>
            <th>tr_full_name</th>
            <th>tr_code_no</th>
            <th>tr_reg_no</th>
            <th>tr_nationality</th>
            <th>tr_manager</th>
            <th>tr_type</th>
            <th>item_name</th>
            <th>tariff_no</th>
            <th>paid</th>
            <th>different</th>
            <th>fine</th>
            <th>diff_paid</th>
            <th>vi_type_1</th>
            <th>vi_type_2</th>
            <th>vi_type_3</th>
            <th>vi_type_4</th>
            <th>vi_type_5</th>
            <th>vi_type_6</th>
            <th>vi_type_7</th>
            <th>vi_type_other</th>
            <th>stated_tariff</th>
            <th>stated_value</th>
            <th>stated_weight</th>
            <th>deducted_tariff</th>
            <th>deducted_value</th>
            <th>deducted_weight</th>
            <th>law</th>
            <th>detector</th>
            <th>detector_other</th>
            <th>results</th>
            <th>commitment</th>
            <th>receip_no</th>
            <th>details</th>
            <th>m_rec_date</th>
            <th>s_rec_date</th>
            <th>locked</th>

            </tr>
        </thead>
        <tbody>
        {% set row = 1 %}
        {% for item in Violation %}
            <tr id="Violation_{{ item['_id'] }}">
                <td>{{ row }}</td>
            <td id="Violation_s_date_{{ item['_id'] }}">{{ item['s_date'] }}</td>
            <td id="Violation_m_date_{{ item['_id'] }}">{{ item['m_date'] }}</td>
            <td id="Violation_fileNo_{{ item['_id'] }}">{{ item['fileNo'] }}</td>
            <td id="Violation_kootaj_{{ item['_id'] }}">{{ item['kootaj'] }}</td>
            <td id="Violation_cert_no_{{ item['_id'] }}">{{ item['cert_no'] }}</td>
            <td id="Violation_s_date_1_{{ item['_id'] }}">{{ item['s_date_1'] }}</td>
            <td id="Violation_s_date_2_{{ item['_id'] }}">{{ item['s_date_2'] }}</td>
            <td id="Violation_policy_1_{{ item['_id'] }}">{{ item['policy_1'] }}</td>
            <td id="Violation_policy_2_{{ item['_id'] }}">{{ item['policy_2'] }}</td>
            <td id="Violation_policy_3_{{ item['_id'] }}">{{ item['policy_3'] }}</td>
            <td id="Violation_policy_4_{{ item['_id'] }}">{{ item['policy_4'] }}</td>
            <td id="Violation_policy_5_{{ item['_id'] }}">{{ item['policy_5'] }}</td>
            <td id="Violation_policy_6_{{ item['_id'] }}">{{ item['policy_6'] }}</td>
            <td id="Violation_policy_7_{{ item['_id'] }}">{{ item['policy_7'] }}</td>
            <td id="Violation_policy_8_{{ item['_id'] }}">{{ item['policy_8'] }}</td>
            <td id="Violation_ezharname_{{ item['_id'] }}">{{ item['ezharname'] }}</td>
            <td id="Violation_person_type_{{ item['_id'] }}">{{ item['person_type'] }}</td>
            <td id="Violation_full_name_{{ item['_id'] }}">{{ item['full_name'] }}</td>
            <td id="Violation_card_no_{{ item['_id'] }}">{{ item['card_no'] }}</td>
            <td id="Violation_code_no_{{ item['_id'] }}">{{ item['code_no'] }}</td>
            <td id="Violation_company_{{ item['_id'] }}">{{ item['company'] }}</td>
            <td id="Violation_ez_full_name_{{ item['_id'] }}">{{ item['ez_full_name'] }}</td>
            <td id="Violation_ez_owner_{{ item['_id'] }}">{{ item['ez_owner'] }}</td>
            <td id="Violation_ez_agent_{{ item['_id'] }}">{{ item['ez_agent'] }}</td>
            <td id="Violation_ez_card_no_{{ item['_id'] }}">{{ item['ez_card_no'] }}</td>
            <td id="Violation_ez_code_no_{{ item['_id'] }}">{{ item['ez_code_no'] }}</td>
            <td id="Violation_tr_full_name_{{ item['_id'] }}">{{ item['tr_full_name'] }}</td>
            <td id="Violation_tr_code_no_{{ item['_id'] }}">{{ item['tr_code_no'] }}</td>
            <td id="Violation_tr_reg_no_{{ item['_id'] }}">{{ item['tr_reg_no'] }}</td>
            <td id="Violation_tr_nationality_{{ item['_id'] }}">{{ item['tr_nationality'] }}</td>
            <td id="Violation_tr_manager_{{ item['_id'] }}">{{ item['tr_manager'] }}</td>
            <td id="Violation_tr_type_{{ item['_id'] }}">{{ item['tr_type'] }}</td>
            <td id="Violation_item_name_{{ item['_id'] }}">{{ item['item_name'] }}</td>
            <td id="Violation_tariff_no_{{ item['_id'] }}">{{ item['tariff_no'] }}</td>
            <td id="Violation_paid_{{ item['_id'] }}">{{ item['paid'] }}</td>
            <td id="Violation_different_{{ item['_id'] }}">{{ item['different'] }}</td>
            <td id="Violation_fine_{{ item['_id'] }}">{{ item['fine'] }}</td>
            <td id="Violation_diff_paid_{{ item['_id'] }}">{{ item['diff_paid'] }}</td>
            <td id="Violation_vi_type_1_{{ item['_id'] }}">{{ item['vi_type_1'] }}</td>
            <td id="Violation_vi_type_2_{{ item['_id'] }}">{{ item['vi_type_2'] }}</td>
            <td id="Violation_vi_type_3_{{ item['_id'] }}">{{ item['vi_type_3'] }}</td>
            <td id="Violation_vi_type_4_{{ item['_id'] }}">{{ item['vi_type_4'] }}</td>
            <td id="Violation_vi_type_5_{{ item['_id'] }}">{{ item['vi_type_5'] }}</td>
            <td id="Violation_vi_type_6_{{ item['_id'] }}">{{ item['vi_type_6'] }}</td>
            <td id="Violation_vi_type_7_{{ item['_id'] }}">{{ item['vi_type_7'] }}</td>
            <td id="Violation_vi_type_other_{{ item['_id'] }}">{{ item['vi_type_other'] }}</td>
            <td id="Violation_stated_tariff_{{ item['_id'] }}">{{ item['stated_tariff'] }}</td>
            <td id="Violation_stated_value_{{ item['_id'] }}">{{ item['stated_value'] }}</td>
            <td id="Violation_stated_weight_{{ item['_id'] }}">{{ item['stated_weight'] }}</td>
            <td id="Violation_deducted_tariff_{{ item['_id'] }}">{{ item['deducted_tariff'] }}</td>
            <td id="Violation_deducted_value_{{ item['_id'] }}">{{ item['deducted_value'] }}</td>
            <td id="Violation_deducted_weight_{{ item['_id'] }}">{{ item['deducted_weight'] }}</td>
            <td id="Violation_law_{{ item['_id'] }}">{{ item['law'] }}</td>
            <td id="Violation_detector_{{ item['_id'] }}">{{ item['detector'] }}</td>
            <td id="Violation_detector_other_{{ item['_id'] }}">{{ item['detector_other'] }}</td>
            <td id="Violation_results_{{ item['_id'] }}">{{ item['results'] }}</td>
            <td id="Violation_commitment_{{ item['_id'] }}">{{ item['commitment'] }}</td>
            <td id="Violation_receip_no_{{ item['_id'] }}">{{ item['receip_no'] }}</td>
            <td id="Violation_details_{{ item['_id'] }}">{{ item['details'] }}</td>
            <td id="Violation_m_rec_date_{{ item['_id'] }}">{{ item['m_rec_date'] }}</td>
            <td id="Violation_s_rec_date_{{ item['_id'] }}">{{ item['s_rec_date'] }}</td>
            <td id="Violation_locked_{{ item['_id'] }}">{{ item['locked'] }}</td>

                <td>
                    <a href="#" onclick="edit_Violation('{{ item['_id'] }}')" class="btn btn-warning">Edit</a>
                    <a href="#" onclick="remove_Violation('{{ item['_id'] }}')" class="btn btn-danger">Remove</a>
                </td>
            </tr>
        {% set row += 1 %}
        {% end %}
        </tbody>
    </table>
</div>
</div>
<script src="{{static_url('js/jquery.js')}}"></script>
<script src="{{static_url('js/dropzone.min.js')}}"></script>
<script src="{{static_url('js/dropzone-amd-module.min.js')}}"></script>
<script src="{{static_url('js/Violation.js')}}"></script>
</body>
</html>