{% extends "main_template.html" %}

{% block contents %}

<script type="text/javascript">
    $(document).ready(function(){
        $('#myTab a').click(function (e) {
          e.preventDefault()
          $(this).tab('show')
        })
    })
</script>

<ul class="nav nav-tabs" id="myTab">
  <li class="active"><a href="#home">صفحه اول</a></li>
  <li><a href="#profile">صحفه دوم</a></li>
  <li><a href="#messages">صفحه سوم</a></li>
  <li><a href="#settings">صفحه چهارم</a></li>
</ul>
<form action="" class="form-group dropzone" id="form_IntViolation">
    <div class="tab-content">
        <div class="tab-pane active" id="home">
          <div class="half-column">
              <div class="half-column">
                  <label>نوع تخلف</label><br>
                  <label><input type="checkbox" id="Violation_vi_type_1" name="vi_type_1">ارزش</label><br>
                  <label><input type="checkbox" id="Violation_vi_type_2" name="vi_type_2">تعرفه</label><br>
                  <label><input type="checkbox" id="Violation_vi_type_3" name="vi_type_3">وزن</label><br>
              </div>
              <div class="half-column">
                  <label><input type="checkbox" id="Violation_vi_type_4" name="vi_type_4">فاچاق</label><br>
                  <label><input type="checkbox" id="Violation_vi_type_5" name="vi_type_5">جعل</label><br>
                  <label><input type="checkbox" id="Violation_vi_type_6" name="vi_type_6">فک پلمپ</label><br>
                  <label><input type="checkbox" id="Violation_vi_type_7" name="vi_type_7">سایر</label><br>
              </div>
          </div>
          <div class="half-column">
              <div class="half-column">
                <label>شرایط معامله</label><br>
                <label><input type="checkbox" id="Violation_policy_1" name="policy_1">بدون انتقال ارز</label><br>
                <label><input type="checkbox" id="Violation_policy_2" name="policy_2">مبادلات مرزی</label><br>
                <label><input type="checkbox" id="Violation_policy_3" name="policy_3">ارزی</label><br>
            </div>
              <div class="half-column">
                  <label><input type="checkbox" id="Violation_policy_4" name="policy_4">واردات در مقابل صادرات</label><br>
                  <label><input type="checkbox" id="Violation_policy_5" name="policy_5">پیله وری</label><br>
                  <label><input type="checkbox" id="Violation_policy_6" name="policy_6">بازارچه مرزی</label><br>
                  <label><input type="checkbox" id="Violation_policy_7" name="policy_7">اهدایی</label><br>
              </div>
          </div>
            <div class="half-column">
                <label>تاریخ<br><input type="text" id="Violation_s_date" name="s_date" class="form-control"></label><br>
            </div>
          <div class="half-column">
              <label>تاریخ میلادی<br><input type="text" id="Violation_m_date" name="m_date" class="form-control"></label><br>
          </div>
          <div class="half-column">
              <label>شماره پرونده<br><input type="text" id="Violation_fileNo" name="fileNo" class="form-control"></label><br>
          </div>
          <div class="half-column">
              <label>شماره کوتاژ<br><input type="text" id="Violation_kootaj" name="kootaj" class="form-control"></label><br>
          </div>
          <div class="half-column">
              <label>شماره پروانه<br><input type="text" id="Violation_cert_no" name="cert_no" class="form-control"></label><br>
          </div>
          <div class="half-column">
              <label>تاریخ 1<br><input type="text" id="Violation_s_date_1" name="s_date_1" class="form-control"></label><br>
          </div>
          <div class="half-column">
              <label>تاریخ 2<br><input type="text" id="Violation_s_date_2" name="s_date_2" class="form-control"></label><br>
          </div>
        </div>

      <div class="tab-pane" id="profile">
          <div class="half-column">
              <label>اظهارنامه<br><input type="text" id="Violation_ezharname" name="ezharname" class="form-control"></label><br>
          </div>
          <div class="half-column">
              <label><input type="checkbox" id="Violation_person_type" name="person_type">شخص حقیق یا حقوقی</label><br>
          </div>
          <div class="half-column">
              <label>نام و نام خانوادگی<br><input type="text" id="Violation_full_name" name="full_name" class="form-control"></label><br>
          </div>
          <div class="half-column">
              <label>شماره کارت بازرگانی<br><input type="text" id="Violation_card_no" name="card_no" class="form-control"></label><br>
          </div>
          <div class="half-column">
              <label>کد ملی<br><input type="text" id="Violation_code_no" name="code_no" class="form-control"></label><br>
          </div>
          <div class="half-column">
              <label>نام شرکت<br><input type="text" id="Violation_company" name="company" class="form-control"></label><br>
          </div>
          <div class="half-column">
              <label>نام و نام خانوادگی اظهار کننده<br><input type="text" id="Violation_ez_full_name" name="ez_full_name" class="form-control"></label><br>
          </div>
          <div class="half-column">
              <label>حق العمل کار گمرکی<br><input type="text" id="Violation_ez_owner" name="ez_owner" class="form-control"></label><br>
          </div>
          <div class="half-column">
              <label>صاحب کالا<br><input type="text" id="Violation_ez_agent" name="ez_agent" class="form-control"></label><br>
          </div>
          <div class="half-column">
              <label>شماره کارت حق العملکاری<br><input type="text" id="Violation_ez_card_no" name="ez_card_no" class="form-control"></label><br>
          </div>
          <div class="half-column">
              <label>شماره کدینگ<br><input type="text" id="Violation_ez_code_no" name="ez_code_no" class="form-control"></label><br>
          </div>
      </div>

        <div class="tab-pane" id="messages">
          <div class="half-column">
              <label>نام شرکت حمل و نقل<br><input type="text" id="Violation_tr_full_name" name="tr_full_name" class="form-control"></label><br>
          </div>
          <div class="half-column">
              <label>شماره کدینگ شرکت حمل و نقل<br><input type="text" id="Violation_tr_code_no" name="tr_code_no" class="form-control"></label><br>
          </div>
          <div class="half-column">
              <label>شماره ثبت شرکت حمل و نقل<br><input type="text" id="Violation_tr_reg_no" name="tr_reg_no" class="form-control"></label><br>
          </div>
          <div class="half-column">
              <label>تابعیت شرکت<br><input type="text" id="Violation_tr_nationality" name="tr_nationality" class="form-control"></label><br>
          </div>
          <div class="half-column">
              <label>نام مدیرعامل<br><input type="text" id="Violation_tr_manager" name="tr_manager" class="form-control"></label><br>
          </div>
          <div class="half-column">
              <label><input type="checkbox" id="Violation_tr_type" name="tr_type">گمرک ورودی یا خروجی</label><br>
          </div>
          <div class="half-column">
              <label>نام کالا<br><input type="text" id="Violation_item_name" name="item_name" class="form-control"></label><br>
          </div>
          <div class="half-column">
              <label>شماره تعرفه<br><input type="text" id="Violation_tariff_no" name="tariff_no" class="form-control"></label><br>
          </div>
          <div class="half-column">
              <label>پرداخت شده<br><input type="text" id="Violation_paid" name="paid" class="form-control"></label><br>
          </div>
          <div class="half-column">
              <label>اختلاف<br><input type="text" id="Violation_different" name="different" class="form-control"></label><br>
          </div>
          <div class="half-column">
              <label>جریمه<br><input type="text" id="Violation_fine" name="fine" class="form-control"></label><br>
          </div>
          <div class="half-column">
              <label>تفاوت پرداختی<br><input type="text" id="Violation_diff_paid" name="diff_paid" class="form-control"></label><br>
          </div>
          <div class="half-column">
              <label>vi_type_other<br><input type="text" id="Violation_vi_type_other" name="vi_type_other" class="form-control"></label><br>
          </div>
          <div class="half-column">
              <label>تعرفه اظهار شده<br><input type="text" id="Violation_stated_tariff" name="stated_tariff" class="form-control"></label><br>
          </div>
          <div class="half-column">
              <label>مقدار اظهار شده<br><input type="text" id="Violation_stated_value" name="stated_value" class="form-control"></label><br>
          </div>
          <div class="half-column">
              <label>وزن اظهار شده<br><input type="text" id="Violation_stated_weight" name="stated_weight" class="form-control"></label><br>
          </div>
          <div class="half-column">
              <label>تعرفه استنباطی<br><input type="text" id="Violation_deducted_tariff" name="deducted_tariff" class="form-control"></label><br>
          </div>
          <div class="half-column">
              <label>ارزش استنباطی<br><input type="text" id="Violation_deducted_value" name="deducted_value" class="form-control"></label><br>
          </div>
          <div class="half-column">
              <label>وزن استنباطی<br><input type="text" id="Violation_deducted_weight" name="deducted_weight" class="form-control"></label><br>
          </div>
      </div>

      <div class="tab-pane" id="settings">
          <div class="half-column">
              <label>استناد قانون و مقررات<br><input type="text" id="Violation_law" name="law" class="form-control"></label><br>
          </div>
          <div class="half-column">
              <label>کاشف<br><input type="text" id="Violation_detector" name="detector" class="form-control"></label><br>
          </div>
          <div class="half-column">
              <label>سایر<br><input type="text" id="Violation_detector_other" name="detector_other" class="form-control"></label><br>
          </div>
          <div class="half-column">
              <label>نتیجه<br><input type="text" id="Violation_results" name="results" class="form-control"></label><br>
          </div>
          <div class="half-column">
              <label><input type="checkbox" id="Violation_commitment" name="commitment">منجر به اخذ تعهد شد</label><br>
          </div>
          <div class="half-column">
              <label>شماره فیش جریمه<br><input type="text" id="Violation_receip_no" name="receip_no" class="form-control"></label><br>
          </div>
          <div class="half-column">
              <label>شرح<br><input type="text" id="Violation_details" name="details" class="form-control"></label><br>
          </div>
          <div class="half-column">
              <label>تاریخ ثبت میلادی<br><input type="text" id="Violation_m_rec_date" name="m_rec_date" class="form-control"></label><br>
          </div>
          <div class="half-column">
              <label>تاریخ ثبت<br><input type="text" id="Violation_s_rec_date" name="s_rec_date" class="form-control"></label><br>
          </div>
          <div class="half-column">
              <label><input type="checkbox" id="Violation_locked" name="locked">locked</label><br>
          </div>
          <div class="half-column">
              <a href="#" onclick="submit_Violation()" class="btn btn-success">Submit</a>
              <a href="#" onclick="reset_Violation()" class="btn btn-info">Reset</a>
          </div>
          <div class="half-column">
          </div>

          <input type="hidden" name="id" id="Violation_id" class="form-control" value="">
          <input type="hidden" name="action" id="form_action" class="form-control" value="add">
      </div>
    </div>
</form>
<div>
</div>
{% end %}