{% extends "base.html" %}

{% block link %}
        <link rel="stylesheet" href='{{ static_url("libs/steps/jquery.steps.css") }}' type="text/css"/>
{% end %}

{% block script %}
        <script src='{{ static_url("libs/steps/jquery.steps.min.js") }}' type="text/javascript"></script>
        <script>
            $(function ()
            {
                try{
                    $("#wizard").steps({
                        headerTag: "h1",
                        bodyTag: "section",
                        transitionEffect: "slideLeft",
                        onStepChanging: function (event, currentIndex, newIndex)
                        {
                            return form_validate.validate($('form.wizardForm .page_' + (currentIndex + 1)));
                        },
                        onFinishing: function (event, currentIndex)
                        {
                            if(form_validate.validate($('form.wizardForm .page_4')))
                            {
                                $('form.wizardForm').submit();
                            }
                        }
                    });




                }
                catch (err)
                {
                    alert(err);
                }
            });
        </script>
{% end %}

{% block body %}
    <div>
        <header>نمونه فرم</header>
        <section>
            <form method="post" action="/violation" class="form-horizontal wizardForm" role="form">

                <div id="wizard">
                    <h1>
                        صفحه اول
                    </h1>
                    <section class="page_1" >
                        <div class="row">
                        <div class="col-lg-12">

                            <div class="form-group col-lg-12 list">
                            <label class="col-sm-12 control-label">نوع تخلف</label>
                            <div class="col-sm-6">
                              <div class="checkbox"><label><input type="checkbox" name="vi_type_1" >ارزش </label></div>
                              <div class="checkbox"><label><input type="checkbox" name="vi_type_2" >تعرفه </label></div>
                              <div class="checkbox"><label><input type="checkbox" name="vi_type_3" >وزن </label></div>
                            </div>
                              <div class="col-sm-6">
                              <div class="checkbox"><label><input type="checkbox" name="vi_type_4" >قاچاق</label></div>
                              <div class="checkbox"><label><input type="checkbox" name="vi_type_5" >جعل</label></div>
                              <div class="checkbox"><label><input type="checkbox" name="vi_type_6" >فک پلمپ</label></div>
                              <div class="checkbox"><label><input type="checkbox" name="vi_type_7" >سایر</label></div>
                            </div>
                          </div>

                            <hr/>

                        <div class="form-group col-lg-12 list">
                            <label class="col-sm-12 control-label">شرایط معامله</label>
                            <div class="col-sm-6">
                              <div class="checkbox"><label><input type="checkbox" name="policy_1" >بدون انتقال ارز</label></div>
                              <div class="checkbox"><label><input type="checkbox" name="policy_2" >مبادلات مرزی</label></div>
                              <div class="checkbox"><label><input type="checkbox" name="policy_3" >ارزی</label></div>
                            </div>
                              <div class="col-sm-6">
                              <div class="checkbox"><label><input type="checkbox" name="policy_4" >واردات در مقابل صادرات</label></div>
                              <div class="checkbox"><label><input type="checkbox" name="policy_5" >پیله وری</label></div>
                              <div class="checkbox"><label><input type="checkbox" name="policy_6" >بازارچه مرزی</label></div>
                              <div class="checkbox"><label><input type="checkbox" name="policy_7" >اهدایی</label></div>
                            </div>
                          </div>

                            <hr/>

                        <div class="form-group col-lg-6">
                            <label for="s_date" class="col-sm-4 control-label">تاریخ</label>
                            <div class="col-sm-8">
                              <input type="text" value="1" name="s_date" class="form-control sdate" id="s_date">
                            </div>
                          </div>

                        <div class="form-group col-lg-6">
                            <label for="m_date" class="col-sm-4 control-label">تاریخ میلادی</label>
                            <div class="col-sm-8">
                              <input type="text" value="1" name="m_date" class="form-control" id="m_date">
                            </div>
                          </div>

                        <div class="form-group col-lg-6">
                            <label for="file_no" class="col-sm-4 control-label">شماره پرونده</label>
                            <div class="col-sm-8">
                              <input type="text" value="1" name="file_no" class="form-control numberFilter" id="file_no">
                            </div>
                          </div>

                        <div class="form-group col-lg-6">
                            <label for="kootaj" class="col-sm-4 control-label">شماره کوتاژ</label>
                            <div class="col-sm-8">
                              <input type="text" value="1" name="kootaj" class="form-control numberFilter" id="kootaj">
                            </div>
                          </div>

                        <div class="form-group col-lg-6">
                            <label for="cert_no" class="col-sm-4 control-label">شماره پرونده</label>
                            <div class="col-sm-8">
                              <input type="text" value="1" name="cert_no" class="form-control numberFilter" id="cert_no">
                            </div>
                          </div>

                        <div class="form-group col-lg-6">
                            <label for="s_date_1" class="col-sm-4 control-label">تاریخ 1</label>
                            <div class="col-sm-8">
                              <input type="text" value="1" name="s_date_1" class="form-control sdate" id="s_date_1">
                            </div>
                          </div>

                        <div class="form-group col-lg-6">
                            <label for="s_date_2" class="col-sm-4 control-label">تاریخ 2</label>
                            <div class="col-sm-8">
                              <input type="text" value="1" name="s_date_2" class="form-control sdate" id="s_date_2">
                            </div>
                          </div>
                        </div>
                        </div>


                    </section>
                    <h1>
صفحه دوم
                    </h1>
                    <section class="page_2" >

                       <div class="row">
                           <div class="form-group col-lg-6">
                            <!--<label for="ezharname" class="col-sm-4 control-label">اظهارنامه</label>-->
                            <label class="col-sm-4 control-label">اظهارنامه</label>
                            <div class="col-sm-8">
                              <!--<input type="text" value="1" name="ezharname" class="form-control" id="ezharname">-->
                              <label for="ezharname1" class="col-sm-4 control-label">واردات قطعی</label>
                              <input type="radio" value="1" name="ezharname" class="" id="ezharname1"><br>
                              <label for="ezharname2" class="col-sm-4 control-label">واردات موقت</label>
                              <input type="radio" value="2" name="ezharname" class="" id="ezharname2"><br>


                            </div>
                          </div>


                        <div class="form-group col-lg-6">
                            <div class="col-sm-offset-2 col-sm-8">
                              <div class="checkbox">
                                <label>
                                  <input name="person_type" type="checkbox"> شخص حقیقی یا حقوقی
                                </label>
                              </div>
                            </div>
                          </div>


                        <div class="form-group col-lg-6">
                            <label for="full_name" class="col-sm-4 control-label">نام و نام خانوادگی</label>
                            <div class="col-sm-8">
                              <input type="text" value="1" name="full_name" class="form-control" id="full_name">
                            </div>
                          </div>

                        <div class="form-group col-lg-6">
                            <label for="card_no" class="col-sm-4 control-label">شماره کارت بازرگانی</label>
                            <div class="col-sm-8">
                              <input type="text" value="1" name="card_no" class="form-control numberFilter" id="card_no">
                            </div>
                          </div>

                        <div class="form-group col-lg-6">
                            <label for="code_no" class="col-sm-4 control-label">کد ملی</label>
                            <div class="col-sm-8">
                              <input type="text" value="1" name="code_no" class="form-control numberFilter" id="code_no">
                            </div>
                          </div>

                        <div class="form-group col-lg-6">
                            <label for="company" class="col-sm-4 control-label">نام شرکت</label>
                            <div class="col-sm-8">
                              <input type="text" value="1" name="company" class="form-control" id="company">
                            </div>
                          </div>

                        <div class="form-group col-lg-6">
                            <label for="ez_full_name" class="col-sm-6 control-label">نام و نام خانوادگی اظهار کننده</label>
                            <div class="col-sm-6">
                              <input type="text" value="1" name="ez_full_name" class="form-control" id="ez_full_name">
                            </div>
                          </div>

                        <div class="form-group col-lg-6">
                            <label for="ez_owner" class="col-sm-4 control-label">حق العمل کار گمرکی</label>
                            <div class="col-sm-8">
                              <input type="text" value="1" name="ez_owner" class="form-control" id="ez_owner">
                            </div>
                          </div>

                        <div class="form-group col-lg-6">
                            <label for="ez_agent" class="col-sm-4 control-label">صاحب کالا</label>
                            <div class="col-sm-8">
                              <input type="text" value="1" name="ez_agent" class="form-control" id="ez_agent">
                            </div>
                          </div>

                        <div class="form-group col-lg-6">
                            <label for="ez_card_no" class="col-sm-5 control-label">شماره کارت حق العملکاری</label>
                            <div class="col-sm-7">
                              <input type="text" value="1" name="ez_card_no" class="form-control numberFilter" id="ez_card_no">
                            </div>
                          </div>

                        <div class="form-group col-lg-6">
                            <label for="ez_code_no" class="col-sm-4 control-label">شماره کدینگ</label>
                            <div class="col-sm-8">
                              <input type="text" value="1" name="ez_code_no" class="form-control numberFilter" id="ez_code_no">
                            </div>
                          </div>
                       </div>


                    </section>
                    <h1>
                        صفحه سوم
                    </h1>
                    <section class="page_3" >

                        <div class="form-group col-lg-6">
                            <label for="tr_full_name" class="col-sm-4 control-label">نام شرکت حمل و نقل</label>
                            <div class="col-sm-8">
                              <input type="text" value="1" name="tr_full_name" class="form-control" id="tr_full_name">
                            </div>
                          </div>

                        <div class="form-group col-lg-6">
                            <label for="tr_code_no" class="col-sm-6 control-label">شماره کدینگ شرکت جمل و نقل</label>
                            <div class="col-sm-6">
                              <input type="text" value="1" name="tr_code_no" class="form-control numberFilter" id="tr_code_no">
                            </div>
                          </div>

                        <div class="form-group col-lg-6">
                            <label for="tr_reg_no" class="col-sm-6 control-label">شماره ثبت شرکت حمل و نقل</label>
                            <div class="col-sm-6">
                              <input type="text" value="1" name="tr_reg_no" class="form-control numberFilter" id="tr_reg_no">
                            </div>
                          </div>

                        <div class="form-group col-lg-6">
                            <label for="tr_nationality" class="col-sm-4 control-label">تابعیت شرکت</label>
                            <div class="col-sm-8">
                              <input type="text" value="1" name="tr_nationality" class="form-control " id="tr_nationality">
                            </div>
                          </div>

                        <div class="form-group col-lg-6">
                            <label for="tr_manager" class="col-sm-4 control-label">نام مدیر عامل</label>
                            <div class="col-sm-8">
                              <input type="text" value="1" name="tr_manager" class="form-control " id="tr_manager">
                            </div>
                          </div>

                        <div class="form-group col-lg-6">
                            <div class="col-sm-12">
                              <div class="checkbox">
                                <label>
                                  <input name="tr_type" type="checkbox"> کمرگ ورودی یا خروجی
                                </label>
                              </div>
                            </div>
                          </div>

                        <div class="form-group col-lg-6">
                            <label for="item_name" class="col-sm-4 control-label">نام کالا</label>
                            <div class="col-sm-8">
                              <input type="text" value="1" name="item_name" class="form-control " id="item_name">
                            </div>
                          </div>

                        <div class="form-group col-lg-6">
                            <label for="tariff_no" class="col-sm-4 control-label numberFilter">شماره تعرفه</label>
                            <div class="col-sm-8">
                              <input type="text" value="1" name="tariff_no" class="form-control numberFilter" id="tariff_no">
                            </div>
                          </div>

                        <div class="form-group col-lg-6">
                            <label for="ez_code_no" class="col-sm-4 control-label">email</label>
                            <div class="col-sm-8">
                              <input type="text" value="1" name="ez_code_no" class="form-control" id="ez_code_no">
                            </div>
                          </div>

                        <div class="form-group col-lg-6">
                            <label for="paid" class="col-sm-4 control-label numberFilter">پرداخت شده</label>
                            <div class="col-sm-8">
                              <input type="text" value="1" name="paid" class="form-control" id="paid">
                            </div>
                          </div>

                        <div class="form-group col-lg-6">
                            <label for="different" class="col-sm-4 control-label numberFilter">اختلاف</label>
                            <div class="col-sm-8">
                              <input type="text" value="1" name="different" class="form-control" id="different">
                            </div>
                          </div>

                        <div class="form-group col-lg-6">
                            <label for="fine" class="col-sm-4 control-label numberFilter">جریمه</label>
                            <div class="col-sm-8">
                              <input type="text" value="1" name="fine" class="form-control" id="fine">
                            </div>
                          </div>

                        <div class="form-group col-lg-6">
                            <label for="diff_paid" class="col-sm-4 control-label numberFilter">تفاوت پرداختی</label>
                            <div class="col-sm-8">
                              <input type="text" value="1" name="diff_paid" class="form-control" id="diff_paid">
                            </div>
                          </div>

                        <div class="form-group col-lg-6">
                            <label for="vi_type_other" class="col-sm-4 control-label">vi_type_other</label>
                            <div class="col-sm-8">
                              <input type="text" value="1" name="vi_type_other" class="form-control" id="vi_type_other">
                            </div>
                          </div>

                        <div class="form-group col-lg-6">
                            <label for="stated_tariff" class="col-sm-4 control-label numberFilter">تعرفه اظهار شده</label>
                            <div class="col-sm-8">
                              <input type="text" value="1" name="stated_tariff" class="form-control" id="stated_tariff">
                            </div>
                          </div>

                        <div class="form-group col-lg-6">
                            <label for="stated_value" class="col-sm-4 control-label numberFilter">مقدار اظهار شده</label>
                            <div class="col-sm-8">
                              <input type="text" value="1" name="stated_value" class="form-control" id="stated_value">
                            </div>
                          </div>

                        <div class="form-group col-lg-6">
                            <label for="stated_weight" class="col-sm-4 control-label numberFilter">وزن اظهار شده</label>
                            <div class="col-sm-8">
                              <input type="text" value="1" name="stated_weight" class="form-control" id="stated_weight">
                            </div>
                          </div>

                        <div class="form-group col-lg-6">
                            <label for="deducted_tariff" class="col-sm-4 control-label numberFilter">تعرفه استنباطی</label>
                            <div class="col-sm-8">
                              <input type="text" value="1" name="deducted_tariff" class="form-control" id="deducted_tariff">
                            </div>
                          </div>

                        <div class="form-group col-lg-6">
                            <label for="deducted_value" class="col-sm-4 control-label numberFilter">ارزش استنباطی</label>
                            <div class="col-sm-8">
                              <input type="text" value="1" name="deducted_value" class="form-control" id="deducted_value">
                            </div>
                          </div>

                         <div class="form-group col-lg-6">
                            <label for="deducted_weight" class="col-sm-4 control-label numberFilter">وزن استنباطی</label>
                            <div class="col-sm-8">
                              <input type="text" value="1" name="deducted_weight" class="form-control" id="deducted_weight">
                            </div>
                          </div>

                    </section>

                    <h1>
                        صفحه چهارم
                    </h1>
                <section>

                    <div class="row">
                        <div class="form-group col-lg-6">
                        <label for="law" class="col-sm-4 control-label">استناد قانون و مقررات</label>
                        <div class="col-sm-8">
                          <input type="text" value="1" name="law" class="form-control" id="law">
                        </div>
                      </div>

                    <div class="form-group col-lg-6">
                        <label class="col-sm-4 control-label">کاشف</label>
                        <!--<label for="detector" class="col-sm-4 control-label">کاشف</label>-->
                        <div class="col-sm-8">
                          <!--<input type="text" value="1" name="detector" class="form-control" id="detector">-->
                          <input type="radio" value="1" name="ezharname" class="form-control" id="ezharname1">بررسی اسناد توسط رئیس گمرک<br>
                          <input type="radio" value="2" name="ezharname" class="form-control" id="ezharname2">سرویس ارزیابی گمرک<br>
                          <input type="radio" value="3" name="ezharname" class="form-control" id="ezharname3">بازبینی گمرک پس از ترخیص کالا<br>
                          <input type="radio" value="4" name="ezharname" class="form-control" id="ezharname4">درب خروجی گمرک<br>
                          <input type="radio" value="5" name="ezharname" class="form-control" id="ezharname5">بازرسی در احراز هویت گمرک<br>
                          <input type="radio" value="6" name="ezharname" class="form-control" id="ezharname6">ارزیابی فیزیکی کالا توسط ارزیاب<br>
                          <input type="radio" value="7" name="ezharname" class="form-control" id="ezharname7">حراست و امور انتظامی<br>
                          <input type="radio" value="8" name="ezharname" class="form-control" id="ezharname8">سایر<br>

                        </div>
                      </div>

                    <div class="form-group col-lg-6">
                        <label for="detector_other" class="col-sm-4 control-label">سایر</label>
                        <div class="col-sm-8">
                          <input type="text" value="1" name="detector_other" class="form-control" id="detector_other">
                        </div>
                      </div>

                    <div class="form-group col-lg-6">
                        <label for="results" class="col-sm-4 control-label">نتیجه</label>
                        <div class="col-sm-8">
                          <input type="text" value="1" name="results" class="form-control" id="results">
                        </div>
                      </div>

                        <div class="form-group col-lg-6">
                            <div class=" col-sm-12">
                              <div class="checkbox">
                                <label>
                                  <input name="commitment" type="checkbox"> منجر به اخذ تعهد شده
                                </label>
                              </div>
                            </div>
                          </div>

                    <div class="form-group col-lg-6">
                        <label for="receip_no" class="col-sm-4 control-label numberFilter">شماره فیش جریمه</label>
                        <div class="col-sm-8">
                          <input type="text" value="1" name="receip_no" class="form-control numberFilter" id="receip_no">
                        </div>
                      </div>

                    <div class="form-group col-lg-6">
                        <label for="details" class="col-sm-4 control-label">شرح</label>
                        <div class="col-sm-8">
                          <input type="text" value="1" name="details" class="form-control" id="details">
                        </div>
                      </div>

                    <div class="form-group col-lg-6">
                        <label for="m_rec_date" class="col-sm-4 control-label">تاریخ ثبت میلادی</label>
                        <div class="col-sm-8">
                          <input type="text" value="1" name="m_rec_date" class="form-control" id="m_rec_date">
                        </div>
                      </div>

                    <div class="form-group col-lg-6">
                        <label for="s_rec_date" class="col-sm-4 control-label">تاریخ ثبت</label>
                        <div class="col-sm-8">
                          <input type="text" value="1" name="s_rec_date" class="form-control sdate date" id="s_rec_date">
                        </div>
                      </div>

                    <div class="form-group col-lg-6">
                            <div class="col-sm-offset-2 col-sm-12">
                              <div class="checkbox">
                                <label>
                                  <input name="locked" type="checkbox"> locked
                                </label>
                              </div>
                            </div>
                          </div>
                    </div>

                </section>

                </div>
            </form>
        </section>
    </div>

        <script type="text/javascript">
            $(function(){
                try{
                    $(".sdate").persianDatepicker();
                }
                catch (err){}
            });
        </script>
{% end %}