table{
  thead{
    background: #EEEEEE;
    th{
      text-align: right;
    }
  }
}

.pagination{
  float: none;
  margin: 0 auto;
  position: relative;
  li{
      float: right;
    &:first-child{
      a{border-left: 0;}
    }
      a{
        border-radius: 0 !important;
      }
    }
}