body,html{height: 100%;width: 100%;}
*{
  margin: 0;padding: 0;
  @include set_webkit('box-sizing','border-box',false);
}

li{list-style: none}
a,a:hover,a:focus{text-decoration: none}
h1,.h1,h2,.h2,h3,.h3,h4,.h4,p,ul{margin: 0}


lodaer{
  z-index: 1000000;
  display: block;
  position: fixed;
  height: 100%;
  width: 100%;
  background: rgba(255,255,255,0.7);
  cursor: wait;
}